* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(233, 47%, 7%);
    font-family: Inter;
}
.card {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin: 3rem;
    background-color: hsl(244, 38%, 16%);
    border-radius: 0.5rem;
}
.card-image {
    overflow: hidden;
    border-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.card-image img {
    max-width: 100%;
    filter: opacity(0.5) drop-shadow(0 0 0 hsl(277deg 89% 49%));
}
.card-content {
    padding: 1.5rem;
}
.card-number {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
}
.card-number * {display: block; color:hsl(0, 0%, 100%);}
.card, .card-number span {color: hsla(0, 0%, 100%, 0.6);}
.card-number span {
    font-size: small;
    margin-top: 0.25rem;
}
.attribution {
    font-size: 0.5rem;
    text-align: center;
    margin: 1rem;
}
.card-title {
    text-align: center;
}
.card-title h2 {margin:0 1rem 1rem; color: hsl(0, 0%, 100%);}
.card-title p {
    padding: 1rem 0; 
    color: hsla(0, 0%, 100%, 0.6);
    line-height: 1.5;
    font-size: 0.9rem;
 }
.card-title strong {color: hsl(277, 64%, 61%)}
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  .attribution {
      font-size: small;
      color: hsla(0, 0%, 100%, 0.6);
  }
  .attribution p {
      line-height: 2;
  }
  @media screen and (min-width: 600px){
        .card-number {
            grid-template-columns: 1fr 1fr 1fr;
            padding-top: 1rem;
        }
  }
  @media screen and (min-width: 768px){
    .card {
        align-items: inherit;
        overflow: hidden;
        grid-template-columns: 1fr 1fr;
    }
    .card-image {
        display: flex;
        order: 1;
        border-radius: 0;
    }
    .card-image img {
        object-fit: cover;
    }
    .card-content {
        padding: 3rem 2rem;
    }
    .card-content * {
        text-align: left;
    }
    .card-title h2 {
        margin: 0 0 1rem 0;
    }  
}
@media screen and (min-width: 1024px){
    .card-content {
        padding: 3rem;
    }
    .card-title h2 {
        font-size: 2rem;
    }  
}
@media screen and (min-width: 1180px) {
    .card-title p {
        font-size: 1.25rem;
    }
    .card-number * {
        font-size: x-large;
    }
}
@media screen and (min-width: 1280px) {
    .card-title h2 {
        font-size: 3rem;
    }
    .card-number * {
        font-size: xx-large;
    }
    .card {
        max-width: 1200px;
        margin: 3rem auto;
    }
}
